*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
}

.nav{
    background-color:#111111;
    height: 5rem;
    width: 100vw;
    
}


.nav__img{
    width: 7rem;
    height: 5rem;
    display: inline-block;
}
.nav__pages{
    
    position: relative;
    
    left: 75vw;
    width: 24rem;
    display: inline-block;
}

.nav__pages a{
   
    font-size: 1.4rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin:0px 1rem 0px 1rem ;
    list-style: none;
}
.content {
    display: flex;
    
}
.main__sidebar{
   
    width: 30rem;
    height: 86.5vh;
  border-right: solid black 0.1rem;
   

}
.main__sidebar-box {
    position: relative;
    left: 3rem;
    background-color:white;
    width: 18rem;
    height: 11rem;
    margin-top: 2.6rem;
}
.main__sidebar-box img{
    width: inherit;
    height: inherit;
}
.main__content{
    display: flex;
    width: 100vw;
}
.main__content figure{
    position: relative;
    top: 3rem;
    left: 18rem;
    width: 62rem;
    height: 35rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: solid black 0.1rem;

}
.main__content figure img{
    width: 60rem;
    height: 33rem;
   
}
footer{
    background-color: #273237;
    height: 3.8rem;
}
footer div a{
    width: 10rem;
}
footer{
    padding: 00.5rem;
}
footer a img{
    position: relative;
    left: 25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin-left: 2rem;
    
}