*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 62.5%;
}
header{
    width: 100vw;
    height: 6vh;
    background-color:#111111;
}
.nav{
    width: inherit;
    height: inherit;
    display: flex;
  
}
.nav img{
    width: 5vw ;
    height: 7vh;
}
.nav ul li {
    position: relative;
    left: 73vw;
    top: 2rem;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.7rem;
    
    
}
.nav ul li a{
    color: white;
    text-decoration: none;
}

.content{
    width: 100vw;
    height: 89vh;
    display: flex;
    background-color: whitesmoke;
    
}

.one{
    position: relative;
    width: 15vw;
    min-height: 89vh;
    background-color:whitesmoke;
    border-right:solid 0.2rem ;
}
.one__img{
    margin: 2.4vh 1vw 0px;
    width:13vw ;
    height: 19vh;
    background-color:black;   
}


.two{
    
    width: 55vw;
    min-width:30vw ;
    height: 89vh;
    background-color: whitesmoke;
}
.two figure{
    position: relative;
    top: 7vh; 
    width: 37vw;
    height:49vh ;
    
    border: solid 0.15rem;
    border-radius: 00.5rem;
    margin-left: 10vw;
    margin-right: 10vw;
    
}
.two__img{
    position: relative;
    left: 0.8vw;
    top:1.7vh ;
    width: 35vw;
    height:45vh; 
}
.two div{
    position: relative;
    top: 5vw;
    width: 41vw;
    margin-left: 8vw;
    margin-right: 8vw;
    text-align: justify;
    font-size: 1.6rem;
    color:black;
}
.three{
   width: 28vw;
    height: 89vh;
    background-color:whitesmoke;
}
.card{
    position: relative;
    top: 7vh;
    background-color:#dbe0e2 ;
    width: 18vw;
    height: 18vh;
    padding: 1rem;
    border: solid black 0.1rem;
}

.card--upper{
    text-align: center;
    border-radius: 0.7rem 0.7rem 0rem 0rem;
}
.card__models p{
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    display: inline-block;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
    font-size: 1.2rem;

}
#nation-rank{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
#nation-rank img{
    width: 4rem;
    height: 2.5rem;
    margin-right: 1rem;
   
    
}
#nation-rank p{
    margin-left: 3.3rem;
    font-size: inherit;

}
.card--midle{
    position: relative;
    top: 4.2rem;
}

.card--midle #battrt{
    font-size: 1.3rem;
    
}
.card--midle #rtbox{
    width: 16.5vw;
    height: 6.5vh;
   
   display: grid;
    grid-template-columns: auto auto auto;

}
.card--midle #rtbox div{
    background-color: #ffffff;
    width: 5.45vw;
    padding: 0.5vh;
    height: 3vh;
    text-align: center;
    
}
.card--midle #tankclass {
    position: relative;
    top: 00.7rem;
    font-size: 1.3rem;
    height: 2.4rem;
    width: 8.5rem;
    padding: 0.3rem 0.5rem 0.3rem;
    border: solid #91a4ad 0.1rem;
    border-radius: 0.3rem;
    color: #91a4ad;
}
.card--midle #tankclass:hover{
    background-color:#91a4ad ;
}
.card--midle #tankclass a{
    text-decoration: none;
    color: black;
}

.card--bottom{
    position: relative;
    top: 4.3rem;
    border-radius: 0rem 0rem 0.7rem 0.7rem;
    text-align: center;

}


.card--bottom #respch p{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    display: inline-block;
    font-size: 1.7rem;
}
.card--bottom #cost{
    font-size: 1.7rem;
}
.card--bottom #showIn{
    position: relative;
    padding: 0.3rem;
    border-radius: 00.3rem;
    height:2.7rem ;
    top: 2.3rem;
    font-size: 1.8rem;
    background-color: #91a4ad;

}
.card--bottom #showIn:hover{
    background-color: #7c7c7c;
}
.card--bottom #showIn a{
    text-decoration: none;
    color: black;
}
.footer{
    width: 100vw;
    height: 5vh;
    background-color: #273237;
    display: flex;
    padding: 0.2rem;

}
.footer img{
    position: relative;
    left: 80vw;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.7rem;
}